<?php $this->headTitle($this->translate('Profile')); ?>
    <h1 class="page-top-header">
        <?php echo $this->translate('Profile'); ?>
    </h1>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <img class="img-responsive" width="192" height="192" src="data:image/png;base64,<?php echo $user->getAvatar(); ?>" alt="@<?php echo $user->getUsername(); ?>">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <h3>
                            <?php echo $user->getFullname(); ?> <span class="label label-success"><?php echo $user->getRole()->getName(); ?></span>
                        </h3>
                    </div>
                </div>
                <div class="panel-footer white-bg">
                    <h4>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-envelope"></i> <?php echo $user->getEmail(); ?></li>
                            <li><i class="fa fa-venus-mars"></i> <?php echo $user->getGender() == \TSS\Authentication\Entity\AbstractUser::GENDER_FEMALE ? $this->translate('Female') : $this->translate('Male'); ?></li>
                        </ul>
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default plain">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-user"></i>
                        <?php echo $this->translate('Update information'); ?>
                    </h4>
                </div>
                <div class="panel-body">
                    <?php
                    $userFieldset = $form->get('user');
                    echo $this->form()->openTag($form);
                    echo $this->formHidden($userFieldset->get('id'));
                    ?>

                    <div class="form-group">
                        <label class="control-label" for="username"><?php echo $this->translate('Username'); ?></label>
                        <input type="text" name="username" class="form-control" placeholder="<?php echo $this->translate('Username'); ?>" disabled value="<?php echo $userFieldset->get('username')->getValue(); ?>">
                    </div>
                    <?php echo $this->formHidden($userFieldset->get('username')); ?>
                    <div class="form-group">
                        <label class="control-label" for="password"><?php echo $this->translate('Password'); ?></label>
                        <input type="password" name="password" class="form-control" placeholder="<?php echo $this->translate('Password'); ?>" disabled value="password">
                        <a href="<?php echo $this->url('application', array('controller' => 'conta', 'action' => 'mudar-senha')); ?>" class="help-block">
                            <?php echo $this->translate('Change password?'); ?>
                        </a>
                    </div>
                    <?php echo $this->tssFormRow($userFieldset->get('firstName')); ?>
                    <?php echo $this->tssFormRow($userFieldset->get('lastName')); ?>
                    <?php echo $this->tssFormRow($userFieldset->get('email')); ?>
                    <div class="form-group">
                        <label class="control-label"><?php echo $this->translate('Avatar'); ?></label>
                        <div class="row">
                            <div class="col-xs-5">
                                <img class="media-object" id='avatar-preview' width="192" height="192" src="data:image/png;base64,<?php echo $user->getAvatar(); ?>"/>
                            </div>
                            <div class="col-xs-7">
                                <input id="avatar-upload" type="file" name="<?php echo $userFieldset->get('avatar')->getName(); ?>" style="display: none">
                                <label id="avatar-label" class="btn btn-default" for="avatar-upload"><?php echo $this->translate('Choose the file'); ?></label>
                                </input>
                            </div>
                        </div>
                        <?php echo $this->formElementErrors($userFieldset->get('avatar')); ?>
                    </div>
                    <div class="select">
                        <?php echo $this->tssFormRow($userFieldset->get('gender')); ?>
                    </div>
                    <?php echo $this->tssFormRow($userFieldset->get('birthday')); ?>
                    <?php echo $this->tssFormRow($userFieldset->get('bio')); ?>

                    <div class="form-group">
                        <?php echo $this->formRow($form->get('submit')); ?>
                    </div>
                    <?php echo $this->form()->closeTag(); ?>
                </div>
            </div>
            <!-- End .panel -->
        </div>
    </div>
<?php
$this->inlineScript()->captureStart();
echo <<<JS
$('#avatar-upload').change(function () {
    if (this.files && this.files[0]) {
        var file = this.files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            selectedImage = e.target.result;
            $('#avatar-preview').attr('src', selectedImage);
            $('#avatar-label').text(
                file.name.length > 12 ? file.name.substring(0, 12)+"..." : file.name
            );
        };
        reader.readAsDataURL(this.files[0]);
    }
});

$('input.input-date').mask('00/00/0000');
JS;
$this->inlineScript()->captureEnd();
?>